@charset "UTF-8";
@charset "iso-8859-15";



body{
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    flex: auto;
}
p{
    color: chocolate;
    size: 20em;
    font-style: oblique;
    font-variant: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}
h1{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: blue;
}
button{
    color: brown;
    background-color: yellow;
    border: 20ex;
    font-size: large;
    border-start-end-radius: 20rem;
    border-end-start-radius: 10rem;
}
.content{
    color: burlywood;
}